<configuration>
  <system.webServer>
    <!-- Node.js handler configuration -->
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Rewrite rules to proxy traffic from IIS to the Node.js app -->
    <rewrite>
      <rules>
        <!-- Rule to forward all requests to the Node.js app -->
        <rule name="Node.js App" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" />
          <!-- Ensure requests are routed to localhost:5000 (where Node.js is listening) -->
          <action type="Rewrite" url="http://localhost:5000/{R:0}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Disable directory browsing -->
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
